<template>
  <div class="header">
    <div class="_pageHeader">
      {{getActive('name')}}
    </div>
    <div class="tab">
      <div v-for="(data, index) in tab" :key="index" :class="data.class" @click="changePage(index, data.name)">
        {{data.name}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
      changePage (index, name) {
          this.$emit('changePage', index, name)
      },
      getActive (thing) {
          if (thing == 'index') {
              var current = JSON.parse(this.$ls.get('nowActive'))
              return current.nowActiveIndex
          } else if (thing == 'component') {
              var current = JSON.parse(this.$ls.get('nowActive'))
              return current.nowActiveName
          } else if (thing == 'name') {
              var current = JSON.parse(this.$ls.get('nowActive'))
              return this.tab[current.nowActiveIndex].name
          }
      },
      elFilter (str) {
            return str.replace(' ', '-').toLowerCase()
        }
  },
  props: {
    tab: Array
  }
}
</script>

<style scoped>
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "page-header tab";
    border-bottom: 2px solid #ededed;
}
.header ._pageHeader {
    font-family: Proxima-Bold;
    cursor: default;
    grid-area: page-header;
    padding: 30px 30px 0 30px;
    text-align: left;
    font-size: larger;
    font-weight: 700;
    display: block;
    width: fit-content;
    position: relative;
}
.header .tab {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    font-family: Proxima-Regular;
    grid-area: tab;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.header .tab ._tabChild {
    margin: 5px 5px 0 5px;
    cursor: pointer;
    width: 15%;
}
.header .tab .active {
    font-family: Proxima-Semi-Bold;
    border-bottom: 5px solid #D7803B;
}
</style>
