<template>
	<div class="root">
		<div class="main">
			<table id="data">
				<thead>
					<th>Date</th>
					<th>Name</th>
					<th>Status</th>
					<!-- <th>Action</th> -->
				</thead>
				<tr v-if="row.length != 0" v-for="(row, index) in row" :key="index">
					<td>{{row.data.date}}</td>
					<td>{{row.data.name}}</td>
					<td :class="getClassStatus(row.data.status)">{{row.data.status}}</td>
					<!-- <td><i class="fa fa-trash" aria-hidden="true"></i></td> -->
				</tr>
			</table>
		</div>
		<div class="footer">
          <button class="btn btn-lg btn-success" @click="changeActive('Reservation')">Book Now</button>
      	</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				row: [],
				refresh: undefined
			}
		},
		methods: {
			getClassStatus (str) {
				if (str == 'Done') {
					return 'done'
				} else if (str == 'On Hold') {
					return 'onHold'
				}
			},
			changeActive (to) {
				this.getDataReservation()
          		this.$emit('changeActive', to)
      		},
			getDataReservation () {
				this.axios({
					url: 'reservation/',
					methods: 'GET',
					headers: {
						'Authorization': 'Bearer '+this.$ls.get('token')
					}
				})
				.then((r) => {
					this.row = []
					for (let index = 0; index < r.data.data.length; index++) {
						if (r.data.data[index].Reservation.Created_Date == this.$moment(new Date()).format('YYYY-MM-DD') && r.data.data[index].Reservation.status != 'Done') {
							this.row.push({data: {name: r.data.data[index].Reservation.Full_Name, date: this.$moment(r.data.data[index].Reservation.Created_Date).format('DD/MMM'), status: r.data.data[index].Reservation.status}})
						}
              		}
				})
			}
		},
		props: {
      		name: String,
      		tab: Array
		},
		// updated () {
		// 	this.getDataReservation()
		// },
		mounted () {
			this.getDataReservation()
			this.refresh = setInterval(() => {
				this.getDataReservation()
			}, 5000)
			// console.log(this.row)
		},
		beforeDestroy () {
			clearInterval(this.refresh)
		}
	}
</script>

<style scoped>
.root {
	width: 100%;
	height: calc(100% - (36px + 3em));
}
.main {
	overflow-x: auto;
	padding: 70px;
	padding-top: 20px;
	height: calc(100% - (36px + 3em));
}
.main #data {
	width: 100%;
	font-family: Avenir-Regular;
	font-size: 15px;
	border: none;
	border-collapse: collapse;
	padding: 15px;
}
#data th {
	text-align: center;
	background-color: #fff;
	padding: 15px;
}
#data td {
	padding: 15px;
	margin-bottom: 5px;
}
#data tr {
	background-color: #E5E5E5;
	border-bottom: 5px solid #fff;
}
#data thead {
	border-bottom: 5px solid #fff;
}
#data td:first-child {
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}
#data td:last-child {
	border-bottom-right-radius: 10px; 
	border-top-right-radius: 10px; 
}
.onHold {
	color: #d80a0ae3;
}
.done {
	color: #03c21ce3;
}
.footer {
	position: fixed;
	bottom: 0;
    width: 98%;
    padding: 18px;
    background-color: #F9F9F7;
}
.footer .btn {
	display: inline-block;
    margin: 0 5px;
	float: right;
}
</style>