<template>
	<div class="content">
		<div class="root">
			<div class="header">
				<div class="logo"><img src="../../assets/img/logo.png" style="width: 150px; height: 70px;"></div>
				<div class="barber-detail">
					<div class="title">Barbershop</div>
					<div class="address">Rukan Avenue8-106 3rd floor, Jakarta Garden City</div>
		    	</div>
		    	<div class="invoice-detail">
		    		<div class="invoice">INVOICE #{{id}}</div>
					<div class="date">{{data.date}}</div>	
		    	</div>
			</div>
			<div class="main">	
				<div class="info">
					<div class="item" v-for="(row, index) in data.item" :key="index">{{row.name}}</div>
				</div>
				<div class="bill">
					<div class="price" v-for="(row, index) in data.item" :key="index">{{row.price | currency}}</div>
				</div>
				<div class="payment">
					<div class="total">Total: {{data.total | currency}}</div>
					<!-- <div class="mount">Cash: Rp. 20.000</div>
					<div class="charge">Charge: Rp. 20.000</div> -->
				</div>
				<div class="navigation">
					<button class="btn btn-lg btn-default" @click="getBack()">See Waiting List</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data () {
		return {
			data: {date: undefined, item: [], total: undefined}
		}
	},
	methods: {
		getReservation () {
			this.axios({
				method: 'GET',
				url: 'invoice/'+this.id,
				headers: {
					'Authorization': 'Bearer '+this.$ls.get('token')
				}
			})
			.then((r) => {
				this.data = {date: undefined, item: [], total: undefined}
				this.data.date = r.data.data[0].invoice.Date
				for (let index = 0; index < r.data.data[0].Service.length; index++) {
					this.data.item.push({id: r.data.data[0].Service[index].Service, name: r.data.data[0].Service[index].Name, price: r.data.data[0].Service[index].Price})
				}
				this.data.total = r.data.data[0].Payment.Bill_Amount
			})
		},
		getBack () {
			this.$ls.set('nowActive', JSON.stringify({nowActiveName: this.tab[0].name, nowActiveIndex: 0}))
			this.$router.push({name: 'Index'})
		}
	},
	created () {
		this.getReservation()
	},
	props: {
		id: Number,
		tab: Array
	}
}
</script>

<style scoped>
.content {
	background-color: #444343;
	height: 100vh;
}
.root {
    font-family: Proxima-Regular;
	display: grid;
    grid-template-columns: auto;
    grid-template-rows:	200px auto;
    grid-template-areas: 
    "header"
    "main";
}

.header {
	margin: 0 auto;
	background-color: #f1f1f1;
	display: grid;
	grid-area: header;
	grid-template-columns: 200px auto 300px; 
	grid-template-rows: 100px auto;
	grid-template-areas:
	"logo . Htitle"
	"Lhead . Htitle";
}

.title {
	grid-area: title;
	display: grid;
	font-weight: bold;
	font-size: 30px;
	font-family: Proxima-Bold;
	margin: auto;
}

.logo {
	grid-area: logo;
	display: grid;
	margin: auto;
}

.address {
	grid-area: address; 
	font-size: 13px;
	grid-template-columns: auto;
	margin: auto;
	margin-top: 0;
}
.main {
	background-color: #fff;
	margin: auto;
	margin-top: 0;
	display: grid;
	grid-area: main;
	grid-template-rows: 400px 100px;
	grid-template-columns: auto 290px;
	grid-template-areas: 
	"info bill"
	"nav payment"
}
.item {
	font-size: 15px;
	text-align: left;
}
.barber-detail {
	display: grid;
	grid-area: Lhead;
	grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "title"
    "address";
}
.invoice-detail {
	grid-area: Htitle;
	display: grid;
	grid-template-rows: 60px 30px;
	grid-template-columns: auto;
	grid-template-areas: 
	"invoice"
	"date" ;
}
.invoice {
	margin: 10px 30px 0 auto;
	grid-area: invoice;
	font-style: 25px;
	font-size: 20px;
}
.date {
	margin: 10px 30px 0 auto;
	grid-area: date;
}
.info {
	padding-left: 15px;
	border-bottom: 1px solid #f1f1f1;
	grid-area: info;
}
.info .item {
	padding: 15px;
	border-bottom: 1px solid #f1f1f1;
}
.bill {
	padding-right: 15px;
	grid-area: bill;
	border-bottom: 1px solid #f1f1f1;
}
.bill .price {
	padding: 15px 0;
	text-align: right;
	display: block;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}
.navigation {
	grid-area: nav;
	float: left;
	padding: 20px;
}
.payment {
	text-align: right;
	padding: 15px;
	padding-right: 35px;
	padding-left: 0;
	grid-area: payment;
}
/* .footer {
	background-color: #f1f1f1;
	height: 150px;
} */
.total {
	display: grid;
}
.mount {
	display: grid;
}
.charge {
	display: grid;

}
	
</style>