<template>
  <div class="root">
    <header-comp :tab="tab" @changePage="changePage"></header-comp>
    <div class="main">
        <keep-alive>
            <div :is="components" :name="getActive('name')" :tab="tab" @changeActive="changeActive"></div>
        </keep-alive>
    </div>
  </div>
</template>

<script>
import Header from '@/layout/Header/Index'
import Reservation from '@/pages/Reservation/Index'
import WaitingList from '@/pages/WaitingList/Index'

export default {
    data () {
        return {
            tab: [{name: 'Waiting List', class: {_tabChild: true, active: false}}, {name: 'Reservation', class: {_tabChild: true, active: false}}],
            components: String
        }
    },
    components: {
        'header-comp': Header,
        'reservation': Reservation,
        'waiting-list': WaitingList
    },
    methods: {
        changeActive (to) {
            this.components = this.elFilter(to)
            this.changePage(this.getIndex(to), to)
            this.$ls.set('nowActive', JSON.stringify({nowActiveName: this.elFilter(to), nowActiveIndex: this.getIndex(to)}))
        },
        changePage (index, name) {
          var current = JSON.parse(this.$ls.get('nowActive'))
          this.tab[current.nowActiveIndex].class.active = false
          this.tab[index].class.active = true
          this.components = this.elFilter(this.tab[index].name)
          this.$ls.set('nowActive', JSON.stringify({nowActiveName: this.tab[index].name, nowActiveIndex: index}))
        },
        getActive (thing) {
            if (thing == 'el') {
                return this.elFilter(JSON.parse(this.$ls.get('nowActive')).nowActiveName)
            } else if (thing == 'name') {
                var current = JSON.parse(this.$ls.get('nowActive'))
                return this.tab[current.nowActiveIndex].name
            }
        },
        elFilter (str) {
            return str.replace(' ', '-').toLowerCase()
        },
        getIndex (str) {
          var currentIndex = 0
          for (let index = 0; index < this.tab.length; index++) {
              if (str == this.tab[index].name) {
                  currentIndex = index
              }
          }
          return currentIndex
        }
    },
    created () {
        if (this.$ls.get('nowActive') == undefined) {
            this.$ls.set('nowActive', JSON.stringify({nowActiveName: this.tab[0].name, nowActiveIndex: 0}))
            this.components = this.elFilter(this.tab[0].name)
            window.location = '/'
        } else {
            var current = JSON.parse(this.$ls.get('nowActive'))
            this.components = this.elFilter(current.nowActiveName)
            this.changePage(current.nowActiveIndex, current.nowActiveName)
        }
    }
}
</script>

<style scoped>
.main {
    height: calc(100vh - 100px);
    grid-area: main;
}
</style>
