.btn {
    font-family: Proxima-Regular;
    display: block;
    border: 0;
    border-radius: 20px;
    color: #484d54;
    transition: all .2s ease;
    max-width: 600px;
}
.btn-lg {
    width: 170px;
    line-height: 3em;
}
.tbn-md {
    width: 100px;
    line-height: 2em;
}
.btn:active {
    transform: scale(.95);
}
.btn:focus {
    outline: 0;
}
.btn-default {
    background-color: #E5E5E5;
}
.btn-success {
    color: #fff;
    background-color: #03c21ce3;
}