label {
    font-size: 15px;
    float: left;
	display: block;
}

label[for=fnote] {
    float: left;
    display: block;
}

input[type=text] {
    padding: 3.5% 3.5%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

input[type=search] {
    border: none;
    outline: none;
    padding: 0;
}

input {
    /* font-family: Proxima-Regular; */
}

textarea {
    /* font-family: Proxima-Regular; */
    border: none;
    outline:none;
    resize: none;
}