#app > .root {
    height: 100%;
    width: 100%;
    /* background-color: #b47523; */
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "main";
    animation: fade-in .3s;
}
.main > div {
    animation: fade-in .3s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}