@font-face {
    font-family: Proxima-Bold;
    src: url('../../fonts/Proxima-Nova-Bold.ttf');
}
@font-face {
    font-family: Proxima-Regular;
    src: url('../../fonts/Proxima-Nova-Regular.ttf');
}
@font-face {
    font-family: Proxima-Semi-Bold;
    src: url('../../fonts/Proxima-Nova-Semibold.ttf');
}
@font-face {
    font-family: Avenir-Regular;
    src: url('../../fonts/Avenir-Medium.otf');
}
@font-face {
    font-family: Avenir-Book;
    src: url('../../fonts/Avenir-Book.otf');
}