<template>
  <div id="app">
    <router-view/>
    <!-- <vue-progress-bar></vue-progress-bar> -->
  </div>
</template>

<script>
import base64 from 'base-64'
export default {
  name: 'App',
  // created () {
  //   this.$Progress.start()
  // },
  // mounted () {
  //   this.$Progress.finish()
  // }
  methods: {
    Login() {
      this.axios({
        url: 'https://zicor.tech/auth/login/barbershop/',
        methods: 'GET'
      })
      .then((r) => {
        this.$ls.set('token', base64.decode(r.headers['x-fucking-get-out']))
      })
    }
  },
  beforeMount () {
    this.Login()
  }
}
</script>

<style>
@import url('assets/css/App.css');

body {
  margin: 0;
  height: 100%;
}
#app {
  font-family: 'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #484d54;
}
</style>
