<template>
      <div class="root">
            <div class="sidebar">
                <div class="title">RESERVATION DETAIL</div>
                <div class="input">
                    <div class="block">
                        <label for="fname">Name</label>
                        <input type="text" id="fname" name="fname" placeholder="Enter Your Name.." v-model="cName" @keyup="toogleClassErr($event, undefined)">
                    </div>
                    <div class="block">
                        <label for="fphone">Phone</label>
                        <input type="text" id="fphone" name="fphone" placeholder="Enter Your Phone" v-model="cPhone" @keyup="toogleClassErr($event, cPhone)" maxlength="15">
                    </div>
                    <div class="block">
                        <label for="fnote">Notes</label>
                        <textarea name="fnote" cols="30" rows="5" v-model="cNotes"></textarea>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="header">
                    <div class="title">SERVICE LIST</div>
                    <div class="date">{{dateNow}}</div>
                    <div class="total">Total Rp. {{getTotal}}</div>
                </div>
                <div class="search">
                    <div class="search-icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input type="text" id="search" placeholder="Search" v-model="searchString">
                </div>
                <div class="card">
                    <table id="data">
                        <thead>
                            <th>#</th>
                            <th>Service</th>
                            <th>Price</th>
                        </thead>
                        <tr v-for="(row, index) in Arrservice" :key="index" :class="row.class" @click="toggleActive(index)">
                            <td>#{{row.data.id}}</td>
                            <td>{{row.data.name}}</td>
                            <td>{{row.data.price | currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="footer">
                <button id="book" class="btn btn-lg btn-success" @click="BookReservation()">Book Now</button>
                <button class="btn btn-lg btn-default" @click="changeActive('Waiting List')">See Waiting List</button>
      	    </div>
      </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
<script>
export default {
  name: 'name',
  data () {
      return {
          cId: undefined,
          cName: '',
          cPhone: '',
          cNotes: '',
          row: [],
          searchString: '',
          refresh: undefined
      }
  },
  props: {
      name: String,
      tab: Array
  },
  methods: {
	  changeActive (to) {
        this.$emit('changeActive', to)
      },
      toggleActive (index) {
        this.getReservationId()
        this.row[index].class.active = !this.row[index].class.active
      },
      getServiceSelected () {
        var result = ''
        var i = 0
        for (let index = 0; index < this.row.length; index++) {
            if (this.row[index].class.active == true) {
                result += '&service_id['+i+']='+this.row[index].data.id
                i++
            }
        }
        if (result != undefined) {
            return result
        } else {
            return false
        }
      },
      getService () {
          this.axios({
              method: 'GET',
              url: 'services/',
              headers: {
				'Authorization': 'Bearer '+this.$ls.get('token')
			  }
          })
          .then((r) => {
              this.row = []
              for (let index = 0; index < r.data.data.length; index++) {
                  this.row.push({data: {id: r.data.data[index].Service.id, name: r.data.data[index].Service.Name, price: r.data.data[index].Service.Price}, class: {active: false}})
              }
          })
      },
      BookReservation () {
          if (this.cName == '') {
              document.getElementById('fname').classList.add('error')
              swal({
                  type: 'error',
                  title: 'Sorry..',
                  text: 'You forget to fill your name'
              })
          } else if (this.cPhone == '') {
              document.getElementById('fphone').classList.add('error')
              swal({
                  type: 'error',
                  title: 'Sorry..',
                  text: 'You forget to fill your phone'
              })
          } else if (this.phoneValid(this.cPhone) == false) {
              swal({
                  type: 'error',
                  title: 'Sorry..',
                  text: 'Check your entry'
              })
          } else if (this.getTotal == 0) {
              swal({
                  type: 'error',
                  title: 'Sorry..',
                  text: 'Total must more than 0'
              })
          } else {
            this.axios({
                method: 'POST',
                url: 'reservation/',
                data: 'id='+this.cId+'&full_name='+this.cName+'&phone='+this.cPhone+'&note='+this.cNotes+this.getServiceSelected(),
                headers: {
					'Authorization': 'Bearer '+this.$ls.get('token')
				}
            })
            .then((r) => {
                if (r.data.success == true) {
                    this.$router.push({name: 'Invoice', params: {id: this.cId, tab: this.tab}})
                } else {
                  swal({
                    type: 'error',
                    title: 'Sorry..',
                    text: 'Something went wrong'
                  })
                }
            })
        }
      },
      getReservationId () {
        this.axios.get('reservation', {
            headers: {
                'Authorization': 'Bearer '+this.$ls.get('token')
            }
        }).then((response) => {
          if (response.data.data.length != 0) {
            var index = (response.data.data.length-1)
            this.cId = parseInt(response.data.data[index].Reservation.id)+1
          } else {
            this.cId = 1
          }
        })
      },
      toogleClassErr (event, str) {
          if (document.getElementById(event.target.id).classList.contains('error')) {
              if (document.getElementById(event.target.id).value && event.target.id != 'fphone') {
                  document.getElementById(event.target.id).classList.toggle('error')
              } else if (event.target.id == 'fphone') {
                  if (this.phoneValid(str) == true && document.getElementById(event.target.id).value) {
                      document.getElementById(event.target.id).classList.remove('error')
                  }
              }
          } else if (event.target.id == 'fphone') {
              if (this.phoneValid(str) == false) {
                  document.getElementById(event.target.id).classList.add('error')
              }
          }
      },
      phoneValid (str) {
          var phoneno = /^[0-9]{1,15}$/
            if (phoneno.test(+str)) {
                return true;
            } else {
                return false;
            }
      }
  },
  mounted () {
      this.getService()
  },
  computed: {
      getTotal () {
        var total = 0
        for (let index = 0; index < this.row.length; index++) {
            if (this.row[index].class.active == true) {
                total += parseInt(this.row[index].data.price)
            }
        }
        return total
      },
      dateNow () {
          return this.$moment(new Date()).format('DD/MMM/YY')
      },
      Arrservice () {
          if (this.searchString != '') {
              let _this = this
              return this.row.filter(r => {
                if (r.data.name.toLowerCase().includes(_this.searchString.toLowerCase())) {
                    return r.data.name.toLowerCase().includes(_this.searchString.toLowerCase())
                }
              })
          } else {
              return this.row
          }
      }
  }
}
</script>

<style scoped>
.root {
    font-family: Proxima-Regular;
	width: 100%;
    height: calc(100% - (36px + 3em));
	display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows:	auto;
    grid-template-areas: 
    "sidebar main";
}
.sidebar {
    height: 100%;
    border-right: 2px solid #F2F4F9;
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "title"
    "input";
}
.main {
    height: 100%;
    grid-area: main;
    display: grid;
    grid-template-rows: 100px 57.5px auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "search"
    "card" 
}
.title {
    cursor: default;
    font-family: Proxima-Bold;
    grid-area: title;
    padding: 30px 0 0 20px;
    margin: 5px 0 0 0;
    font-size: 15px;
    text-align: left;
    /* border-right: 2px solid #F2F4F9; */
}
.card {
    height: calc(100% - (36px + 3em));
    grid-area: card;
    padding: 3.5%;
    padding-top: 0;
    border-radius: 0;
    border:none;
    overflow-x: auto;
}
.input {
    grid-area: input;
}
.block {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "label input";
    border-bottom: 2px solid #F2F4F9;
    padding: 5px;
}
.block label {
    grid-area: label;
    margin: auto;
}
.block label[for=fnote] {
    margin: 10%;
}
.block input,textarea {
    width: auto;
    font-family: Avenir-Book;
}
.block input {
    grid-area: input;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.header {
    cursor: default;
    grid-area: header;
    border-bottom: 2px solid #F2F4F9;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    "title date"
    ". total";
}
.header .title {
    padding: 30px 0 0 40px;
    grid-area: title;
}
.header .date {
    grid-area: date;
    padding: 15px;
    font-size: 13px;
}
.header .total {
    grid-area: total;
    padding: 15px;
    font-size: 13px;
}
.search {
    grid-area: search;
    font-size: 15px;
    text-align: left;
    border-bottom: 2px solid #F2F4F9;
    display: flex;
    flex-direction: row;
}
.search .search-icon {
    float: left;
    width: 50px;
    height: auto;
    text-align: center;
    padding-top: 20px;
}
.search input {
    height: 100%;
    width: 100%;
    padding: 0 35px 0 15px;
}
.error {
    border-bottom: 1.5px solid red;
}

/*table*/
#data {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
	width: 100%;
	font-family: Avenir-Regular;
	font-size: 15px;
	border: none;
	border-collapse: collapse;
}
#data th {
	text-align: center;
	background-color: #fff;
	padding: 1.5%;
}
#data td {
    cursor: pointer;
	padding: 10px;
}
#data tr {
	background-color: #E5E5E5;
	border-bottom: 5px solid #fff;
}
.active {
    background-color: #0bc924e3 !important;
    color: #fff;
}
#data thead {
    cursor: default;
	border-bottom: 5px solid #fff;
}
#data td:first-child {
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}
#data td:last-child {
	border-bottom-right-radius: 10px; 
	border-top-right-radius: 10px; 
}
.onHold {
	color: #d80a0ae3;
}
.done {
	color: #03c21ce3;
}
.footer {
    position: fixed;
	bottom: 0;
    width: 98%;
    padding: 18px;
    background-color: #F9F9F7;
}
.footer .btn {
    float: right;
    display: inline-block;
    margin: 0 5px;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .header {
        cursor: default;
        grid-area: header;
        border-bottom: 2px solid #F2F4F9;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        "title date"
        ". total";
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .header {
        cursor: default;
        grid-area: header;
        border-bottom: 2px solid #F2F4F9;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        "title date"
        ". total";
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .header {
        cursor: default;
        grid-area: header;
        border-bottom: 2px solid #F2F4F9;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        "title date"
        ". total";
    }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .header {
        cursor: default;
        grid-area: header;
        border-bottom: 2px solid #F2F4F9;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        "title date"
        ". total";
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .header {
        cursor: default;
        grid-area: header;
        border-bottom: 2px solid #F2F4F9;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 50px 50px;
        grid-template-areas: 
        "title date"
        ". total";
    }
}
</style>

